<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MapClasswork</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <preference name="orientation" value="portrait" />
    <plugin name="cordova plugin add cordova-plugin-geolocation" source="npm" />
    <content src="index.html" />
    <access origin="*" />
</widget>
