<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "com.vnk.PG"
        versionCode = "1"
        version     = "1.2.0" >

    <!-- versionCode is Android only -->
    <!-- version is in major.minor.patch format -->
    <name>TechX</name>

    <description>
        An example for phonegap build app which wont show up in the playstore.
    </description>

    <author email="kissoonvashil@gmail.com">
        Kissoon Neeschal
    </author>

    <access origin="*" />

    <platform name="android"/>
    <plugin name="cordova-plugin-geolocation" spec="~1.0.0" />


</widget>
